/*
 * File: public\css\church\biblestudies.css
 * Purpose: Defines presentation styles for the biblestudies interface.
 */

.biblestudies-overlay {
  background: rgba(66, 121, 188, 0.88);
}

.biblestudies-overlay h1 {
  font-size: 50px;
}

@media (max-width: 950px) {
  .biblestudies-overlay h1 {
    font-size: 38px;
  }
}
